---
layout: post
title:  {{ %mission% }}
author: "NASA: Music to Wake Up By"
---

# {{ %mission% }}
----
<br/>
### DATE: {{ %date_human% }}
----
{{ %song_details% }}

##### Comment:
* {{ %comment% }}
