---
layout: post
title:  {{ %mission% }}
author: "NASA: Music to Wake Up By"
type: MusicPlaylist
date_modified: {{ %date_computer% }}
---

----
### DATE: {{ %date_human% }}
----
{{ %song_details% }}

##### Comment:
* {{ %comment% }}
